.box-external{
    border: 2px solid black;
    padding: 30px;
    margin: 30px;
    background-color: aqua;
}



.box{
    background-color: rgb(252, 138, 8);
    width: 500px;
    height: 500px;
    border-radius: 30px;
    padding: 10px;
}

.box{
    background-color: rgb(153, 155, 134);
    width: 500px;
    height: 500px;
    border-radius: 30px;
    padding: 10px;
}